@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("../../public/fonts/Nunito/Nunito-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  --foreground-rgb: 51, 28, 4;
  --background-start-rgb: 253, 224, 71;
  --background-end-rgb: 245, 158, 11;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    145deg,
    rgb(var(--background-start-rgb)) 0%,
    rgb(251, 191, 36) 50%,
    rgb(var(--background-end-rgb)) 100%
  );
  min-height: 100vh;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
