@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("../../public/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Honk";
  src: url("../../public//fonts/Honk/Honk-Regular-VariableFont_MORF\,SHLN.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 241, 214, 98;
  --background-end-rgb: 240, 220, 100;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
